.blog
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 100%
    margin-top: 20px
    margin-bottom: 20px
    border: 2px solid grey

    .blogImg
        flex: 1
        height: 100px
        background-color: #fff

        img
            height: 100%
            width: 100%

    .blogSummary
        flex: 3
        padding: 10px


        button
            background-color: lightgrey
            padding: 5px
            border-radius: 10px
            font-size: 10px
            border: none
            align-items: right