.navbar
    height: 40px
    background-color: lightgray
    padding: 15px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 10px 10px 0


    .logo
        font-size: 30px
        padding-left: 20px
        display: flex
        flex-direction: row
        align-items: center
        gap: 3px

        .logoIcon
            color: #10a89c

        a
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            text-decoration: none
            gap: 10px
            color: black
        

    .links ul
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        gap: 20px

        li
            list-style: none
            font-size: 23px

            a
                text-decoration: none
                color: black
                cursor: pointer

            :hover
                color: brown
                font-size: 25px

            

    .userprofile
        font-size: 18px
        padding-right: 50px
        font-weight: bold
        display: flex
        flex-direction: row
        gap: 5px

        .avater
            color: #0c7958
