.register
    position: absolute
    height: 80vh
    width: 100%
    background-color: #504e4e
    z-index: 999
    border-radius: 10px
    padding: 10px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    top: 20px



    p
        text-align: center
        color: #fff
        font-size: 20px
        font-family: "Roboto", sans-serif
        font-weight: 500

    .close
        position: absolute
        width: 20px
        height: 20px
        top: 10px
        right: 8px
        font-size: 15px
        font-family: "Roboto", sans-serif
        background-color: #faf5f5
        color: #fa0e5d
        border-radius: 50%
        padding: 2px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer

.update-blog-form
    background-color: #fff
    max-width: 100%
    min-width: 50%
    padding: 50px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 10px
    border-radius: 10px


    h1
        font-family: "Roboto", sans-serif
        font-size: 20px
        margin-bottom: 20px

.inputs
    display: flex
    flex-direction: column
    align-items: left
    justify-content: space-between
    gap: 10px


    .input
        gap: 10px
        display: flex
        flex-direction: column
        font-family: "Roboto" , sans-serif


        input
            height: 28px
            width: 100%
            border-radius: 5px
            border: none
            background-color: #b6b2b2
            padding: 5px
            font-size: 17px
        textarea
            padding: 10px
            border: none
            background-color: #e4dcdc
            font-family: "Roboto", sans-serif
            
    button
            height: 29px
            background-color: #0b5aa5
            font-family: "Roboto", sans-serif
            font-weight: 500
            font-size: 17px
            border: none
            border-radius: 10px
            margin-top: 20px

    
 

